<div class="modal fade" tabindex="-1" role="dialog" id="questionModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<div class="page-header">
	<a href="/logout" class="pull-right header-link"><span class="glyphicon glyphicon-log-out"></span></a>
	<h3>{{questionId}}. {{question}}</h3>
</div>
<div id="main">
	<div>
		<button class="btn btn-default recorder"><span class="glyphicon glyphicon-record"></span></button>
	</div>
	<div class="info">
		
	</div>
	<div class="results">
		<textarea name="content" id="content" cols="30" rows="10" class="results-container">{{value}}</textarea>
	</div>
	<div class="centered">
		{{#if previous}}
		<a href="/user/{{userID}}/question/{{previous}}" class="btn btn-success" title="Anterior"><span class="glyphicon glyphicon-arrow-left"></span></a>
		{{/if}}
		<button class="btn btn-primary" id="procesar">Procesar</button>
		{{#if next}}
		<a href="/user/{{userID}}/question/{{next}}" class="btn btn-success" title="Siguiente"><span class="glyphicon glyphicon-arrow-right"></span></a>
		{{/if}}
	</div>
</div>
<script>
	var info = {
		'running': 'Estamos grabando lo que dices',
		'waiting': 'Hazle click al boton para grabar lo que dices',
		'error': 'Hubo un error con la aplicación, pedimos disculpas.',
		'blank': 'No se grabó nada',
		'conteo': 'Palabras totales: '
	}
	var final_transcript = '';
	var interim_transcript = '';
	var recognizing = false;
	var ignore_end;
	var recorded = false;
	if (!'webkitSpeechRecognition' in window){
		$('#main').html('Esta aplicación sólo está habilitada para browsers que permitan grabación de audio.')
	} else {
		var recognition = new webkitSpeechRecognition();
		recognition.continous = true;
		recognition.lang = 'es-PE';
		recognition.interimResults = true;

		recognition.onstart = function(){
		};

		recognition.onend = function(){
			if(!ignore_end){
				$('.results-container').val(final_transcript);
				$('.recording').removeClass('recording');
				if (final_transcript == ''){
					$('.info').html(showInfo('blank'));
				} else {
					var conteo_de_palabras = $('.results-container').val().split(' ')
					$('.info').html(showInfo('conteo'));
					$('.info').append(conteo_de_palabras.length - 1)
				}
				return;
			} else {
				interim_transcript = $('.results-container').val();
				recognition.start();
				if (final_transcript == ''){
					$('.info').html(showInfo('blank'));
					return;
				}
			}
		}
		recognition.onresult = function(event){
			var internal_interim = '';
			for (var i = event.resultIndex; i < event.results.length; i++){
				if(event.results[i].isFinal){
					final_transcript += ' '+event.results[i][0].transcript;
					interim_transcript += ' '+event.results[i][0].transcript;
				} else {
					internal_interim += ' '+event.results[i][0].transcript;
					$('.results-container').val(interim_transcript + internal_interim);
				}
			}
		};
	}

	function showInfo(s){
		$('.info').html(info[s]);
	}
	$('.recorder').click(function(){
		if (recognizing){
			$(this).children('.glyphicon').removeClass('glyphicon-pause').addClass('glyphicon-record');
			ignore_end = false;
			recognizing = false;
			recorded = true;
			$('.results-container').prop('disabled',false)
			recognition.stop()
			return;
		}
		$('.results-container').prop('disabled',true)
		ignore_end = true;
		$(this).addClass('recording')
		$(this).children('.glyphicon').removeClass('glyphicon-record').addClass('glyphicon-pause')
		recognition.start();
		recognizing = true;
		$('.info').html(showInfo('running'));
	})
	$('.results-container').blur(function(){
		var conteo_de_palabras = $('.results-container').val().split(' ')
		$('.info').html(showInfo('conteo'));
		$('.info').append(conteo_de_palabras.length - 1);
		final_transcript = $('.results-container').val();
		interim_transcript = $('.results-container').val();
	})
	$('#procesar').click(function(){
		var but = $(this);
		$(but).prop('disable',true);
		$.post('/send',{
			content:$('#content').val()
		},function(data){
			console.log(data);
			$(but).prop('disable',false);
			$('.modal-content').html(data);
			$('#questionModal').modal('show');
		})
	})
</script>